package cn.huanzi.qch.springbootmybatisplus.$!{cfg.abc}.controller;

import cn.huanzi.qch.springbootmybatisplus.common.controller.CommonController;
import cn.huanzi.qch.springbootmybatisplus.$!{cfg.abc}.entity.${entity};
import cn.huanzi.qch.springbootmybatisplus.$!{cfg.abc}.entity.${entity}Vo;
import cn.huanzi.qch.springbootmybatisplus.$!{cfg.abc}.service.${entity}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping("/${table.entityPath}/")
public class ${table.controllerName} extends CommonController<${entity}Vo,${entity}> {

    @Autowired
    private ${entity}Service ${table.entityPath}Service;

}