<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script th:replace="common/head::static"></script>
    <style>
        body{
            text-align: center;
        }
        iframe{
            display: none;
        }
    </style>
</head>
<body>
<!-- 头部 -->
<header class="huanzi-header">
    <!-- 顶部进度条 -->
    <div class="progress"><span></span></div>
    <!-- 系统状态栏占高 -->
    <div class="statusbar"></div>
    <!-- 标题栏 -->
    <div class="titlebar">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title"></h1>
        <div class="huanzi-header-right-button-list">
            <a class="mui-icon mui-icon-bars mui-pull-right"></a>
        </div>
    </div>
</header>

<!-- 内容（可滑动区域） -->
<div class="huanzi-content mui-scroll-wrapper">
    <!-- 点击立即加载初始url -->
    <div class=" mui-scroll" th:if="${switchMode} eq '1'">
        <!-- 直接嵌入iframe，且自适应宽高 -->
        <iframe id="iframe" name="iframe" frameborder="0" width="100%" onload="iframeLoadFun(this)"></iframe>
    </div>
    <!-- 点击立即加载初始url -->
    <div class=" mui-scroll" th:if="${switchMode} eq '2'">
        <!-- 直接嵌入iframe，且自适应宽高 -->
        <iframe id="iframe1" name="iframe1" frameborder="0" width="100%" onload="iframeLoadFun(this)"></iframe>
        <iframe id="iframe2" name="iframe2" frameborder="0" width="100%" onload="iframeLoadFun(this)"></iframe>
        <iframe id="iframe3" name="iframe3" frameborder="0" width="100%" onload="iframeLoadFun(this)"></iframe>
        <iframe id="iframe4" name="iframe4" frameborder="0" width="100%" onload="iframeLoadFun(this)"></iframe>
    </div>
</div>

<!-- 底部导航栏 -->
<footer class="huanzi-footer">
    <div class="huanzi-footer-buttom" data-iframe="iframe1" data-url="/muiwrapper/muiDialog">
        <i class="mui-icon mui-icon-phone"></i>
        <p>mui原生</p>
    </div>
    <div class="huanzi-footer-buttom" data-iframe="iframe2" data-url="/muiwrapper/dialog">
        <i class="mui-icon mui-icon-email"></i>
        <p>自定义封装</p>
    </div>
    <div class="huanzi-footer-buttom" data-iframe="iframe3" data-url="/muiwrapper/test3">
        <i class="mui-icon mui-icon-chatbubble"></i>
        <p>头尾操作</p>
    </div>
    <div class="huanzi-footer-buttom" data-iframe="iframe4" data-url="/muiwrapper/test4">
        <i class="mui-icon mui-icon-weixin"></i>
        <p>页面4</p>
    </div>
</footer>
</body>
<script th:inline="javascript">
    //按钮切换模式
    let switchMode = [[${switchMode}]];

    //动态获取菜单url，所属iframe，jq对象等
    let buttoms = [];
    $(".huanzi-footer-buttom").each(function () {
        let iframeJqObject = {};
        if(switchMode === "1"){
            iframeJqObject = $("#iframe");
            //修改标签data-iframe值
            $(this).data("iframe","iframe");
        }else  if(switchMode === "2"){
            iframeJqObject = $("#"+$(this).data("iframe"));
        }
        let buttomobj = {
            jqObject:$(this),//按钮jq对象
            iframeJqObject:iframeJqObject,//所属iframe
            url:$(this).data("url")//url
        };
        buttoms.push(buttomobj);
    });

    //初始化所有页面
    // buttoms.forEach((item,index,array)=>{
    //     item.iframeJqObject[0].src = ctx + item.url;
    // });

    //默认显示第一个iframe
    buttoms[0].jqObject.addClass("select");
    buttoms[0].iframeJqObject[0].src = ctx + buttoms[0].url;
    buttoms[0].iframeJqObject.show();


    //自适应高度
    adaptiveHeight();

    //底部按钮点击事件
    $(document).on("click", ".huanzi-footer-buttom", function (e) {
        //iframe动作
        if(switchMode === "1"){
            //立即加载初始化url
            $("#iframe")[0].src = ctx + $(this).data("url");
        }else if(switchMode === "2"){
            //判断是否要刷新
            if(!$("#"+$(this).data("iframe"))[0].src || $(".select").data("iframe") === $(this).data("iframe")){
                $("#"+$(this).data("iframe"))[0].src = ctx + $(this).data("url");
            }
        }
        //切换按钮、iframe
        buttoms.forEach((item,index,array)=>{
            item.jqObject.removeClass("select");
            item.iframeJqObject.hide();
        });
        $(this).addClass("select");
        adaptiveHeight();
        $("#"+$(this).data("iframe")).show();
    });

    //iframe onload事件
    function iframeLoadFun(iframe) {
        //修改标题
        let $mainFrame=$(iframe);
        let title = $mainFrame.contents().attr("title");

        $("title").text(title);
        $(".mui-title").text(title);

        //顶部进度条
        $({property: 0}).animate({property: 100}, {
            duration: 3000,
            step: function() {
                var percentage = Math.round(this.property);

                $('.huanzi-header .progress').css('width',  percentage+"%");

                if(percentage == 100) {
                    $('.huanzi-header .progress').css('width',"0%");//完成，隐藏进度条
                }
            }
        });
    }

    //自适应高度
    function adaptiveHeight(){
        $(".huanzi-content").css("top",$(".huanzi-header").css("height"));
        document.getElementById($(".select").data("iframe")).height = $('.huanzi-content')[0].scrollHeight;
    }

    //h5端默认隐藏
    mui.plusReady(function(){
        //显示系统状态栏占高
        $(".huanzi-header .statusbar").css("display","block");

        //自适应高度
        adaptiveHeight();
    });
</script>
</html>