<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>页面4</title>
    <script th:replace="common/head::static"></script>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<a href="https://www.baidu.com">跳转百度</a>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>页面4</h1>
<h1>最后一个</h1>
</body>
</html>