<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>页面3</title>
    <script th:replace="common/head::static"></script>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
<h1>页面3</h1>
</body>
</html>